# Traitement des données
pandas==2.0.3  
numpy==1.24.3
scikit-learn==1.3.0

# Visualisation
matplotlib==3.7.2
seaborn==0.12.2
plotly==5.16.1

# Profilage des données
pandas-profiling==3.6.6
ydata-profiling==4.16.1  

# Dépendances pour le profilage
wordcloud==1.9.4        
imagehash==4.3.1        
phik==0.12.4            
statsmodels==0.14.4     
visions==0.8.1          
# Explicabilité des modèles
shap==0.42.1           
lime==0.2.0.1          

# API et Tableau de bord
flask==2.2.5           
dash==2.13.0           
dash-bootstrap-components==1.5.0  

# Utilitaires
python-dotenv==1.0.0   
joblib==1.3.2         
tqdm==4.66.1           

# Tests
pytest==7.4.2          
